.App {
  text-align: center;
  background-color:bisque;
  height: 100%;
  width: 100%;
  position: absolute;
}
h1{
  color: rgb(29, 3, 6);
  font-family: "Comic Sans MS";
  padding-top: 10px ;
  padding-bottom: 10px;
}
h3{
  color: rgb(81, 7, 28);
  font-family: "Papyrus";
  padding-top: 10px ;
  padding-bottom: 10px;
}
h6{
  color: rgb(155, 65, 65);
  font-family: "Comic Sans MS";
  font-size: smaller;
  padding-bottom: 20px;
}
.todo-check{
  display: "flex";
  padding-top: 20px ;
  padding-bottom: 10px;
}
.input-text{
  border-radius: 10px;
  border-color: transparent;
  outline-color: transparent;
  margin-bottom: 1%;
}
.button-add{
  background-color: rgb(234, 192, 140);
  border-radius: 10px;
  border-color: rgb(220, 185, 142);
  border: none;
  font-family: "Comic Sans MS";
}
.button-delete{
  background-color: rgb(220, 185, 142);
  border-radius: 10px;
  border-color: rgb(220, 185, 142);
  border: none;
  font-family: "Comic Sans MS";
}
.checkbox{
  color: brown;
}
ul{
  list-style: none;
}
li{
  margin: 12px;
}
.alert{
  height:auto;
  width: 20%;
  align-items: center;
  margin: auto;
  font-family: "Comic Sans MS";
}
.card{
  align-items: center;
  margin: auto;
  font-family: "Comic Sans MS";
}
